### Trabalhando com Tuplas

In [1]:
# Criando uma tupla -> parenteses () -> imutavel
tupla1 = ("Geografia",23,"Elefante",9.8,'Pyhton')

In [2]:
#Imprimindo a tupla
tupla1

('Geografia', 23, 'Elefante', 9.8, 'Pyhton')

In [3]:
# A tupla nao suporta append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [4]:
# tupla não suporta deletede um item especifico 
del tupla1("Elefante")

SyntaxError: cannot delete function call (3594072559.py, line 2)

In [5]:
# nota: se deseja mudar um conjunto, usa-se lista ou dicionario. caso contrario, não deseja modficar, usa tupla

In [6]:
tupla1

('Geografia', 23, 'Elefante', 9.8, 'Pyhton')

In [7]:
# tupla não aceita atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [9]:
# Criando uma nova tupla
tupla2 = ('A','B','C')

In [10]:
tupla2

('A', 'B', 'C')

In [11]:
# usando a função list() para converter uma tupla para lista
tupla3 = list(tupla2)

In [12]:
tupla3

['A', 'B', 'C']

In [13]:
tupla3.append('D')

In [14]:
tupla3

['A', 'B', 'C', 'D']

In [15]:
# Usando tuple() para converte uma lista para tupla
tupla2 = tuple(tupla3)

In [16]:
tupla2

('A', 'B', 'C', 'D')